
.header-menu > .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1b1b1b;
  height: 70px;
  border-radius: 0px 0px 8px 8px;
}

.menu .menu__item {
  font: normal 400 14px / normal IBM Plex Mono;
  cursor: pointer;
  color: #9c9c9c;
}

.navigation {
  width: 65%;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  list-style: none;
  gap: 10%;
}

.img-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.img-header__item {
  width: 22px;
  height: 20px;
}


/* @media screen and (max-width: 1280px){
  .header-menu > .container {
    padding: 0px 35px;
  }

  .menu {
    gap: 34px;
  }
}

@media screen and (max-width: 960px){
  .header-menu > .container {
    justify-content: space-between;
    padding: 0px 45px;
  }

  .menu {
    gap: 35px;
  }
}

@media screen and (max-width: 800px){
  .header-menu > .container {
    padding: 0px 40px;
    height: 50px;
  }

  .menu .menu__item {
    font: normal 400 12px / normal IBM Plex Mono;
  }

  .menu {
    gap: 25px;
  }

  .img-header__item {
    width: 18px;
    height: 16px;
  }
}

@media screen and (max-width: 640px){
  .header-menu > .container {
    padding: 0px 25px;
    height: 60px;
  }

  .menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .img-header__item {
    width: 14px;
    height: 12px;
  }
}

@media screen and (max-width: 480px){
  .header-menu > .container {
    padding: 0px 20px;
  }

  .menu {
    gap: 15px;
  }
}

@media screen and (max-width: 400px){
  .header-menu > .container {
    padding: 0px 10px;
  }

  .menu {
    gap: 15px;
  }
} */